
body {
    font-family: 'Roboto', sans-serif;
    background-color:#EAC926;
    font-size: 12px;

  }
  
  header {
    background-color: #03264C; 
    padding: 10px;
    color: #ebebeb; 
}

.search-container i {
  font-size: 18px; 
  margin-bottom: 10px;
}
 
  .navbar {
    background-color: #03264C;
    color: #ebebeb;
    padding: 10px;
  }
  
 
  .login-bar {
    background-color: #1259c3;
    color: #ebebeb;
    padding: 10px;
  }
  
 
  .search-bar {
    background-color: #ebebeb;
    padding: 10px;
  }
  

  
 
  
  
  h1 {
    font-size: 24px;
  }
  
 
  .price {
    font-size: 18px;
  }
  
  .discount {
    font-size: 16px;
  }
  
  .description {
    font-size: 16px;
  }
  